html {
    background-color: rgba(222, 184, 135, 0.6);
}

body {
    background-color: #424242;
    width: 80vw;
    text-align: center;
    display: block;
    margin: auto;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    color: wheat;
    box-shadow: 1px 1px 1em gray;
}

.navbar {
    padding: 15px;
    height: 50px;
    background-color: #393939;
}

.coffee-show {
    display: flex;
    height: 600px;
    overflow: auto;
}

.coffee-show-text {
    width: 500px;
    margin: auto;
    margin-top: 80px;
    font-family: 'Alkatra', cursive;
    color: wheat;
}

.header-text {
    text-decoration: underline;
}

.header-image {
    width: 50%;
}

.header-divider {
    width: 50%;
}

.flex {
    display: flex;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin-bottom: 15px;
}

.logo-name {
    font-family: 'Alkatra', cursive;
    color: #deb887;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 500px; 
}

a:link {
    color: burlywood;
    text-decoration: none;
}

a:visited {
    color: burlywood;
}

a:hover {
    transition: 1s;
}

li:hover {
    transform: scale(.75);
    transition: 1s;
}

.active-page {
    border: 1px solid burlywood;
    padding: 8px;
    padding-top: 5px;
    padding-bottom: 5px; 
    border-radius: 10px;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/* Footer */

footer {
    background-color: #393939;
}

.footer-container {
    height: 125px;
    margin: 0px;
}

.hours, .legal, .contact-us {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1px;
}

.contact-us p {
    margin: 1px;
    padding: 1px;
}

.hours p {
    margin: 1px;
    padding: 1px;
}

.cu-area {
    margin: 1px;
    padding: 1px;
    align-items: center;
}

.social-media {
    height: 20px;
}

.social-media a {
    margin: 5px;
}
/*Menu Items*/

.menu-items {
    width: 500px;
    margin: auto;
    color: wheat;
}

.drink {
    display: flex;
    justify-content: space-evenly;
}

.drink-name {
    width: 115px;
    border: 1px solid black;
}

.drink:hover .drink-name {
    transition: .5s;
    box-shadow: 1px 1px 1em;
}

.line {
    width: 175px;
    height: 31px;
    border-bottom: 1px dashed wheat;
}

/*About us*/

.about-us {
    width: 500px;
    margin: auto;
    font-size: 18px;
}

/*Contact us*/

.map {
    margin: auto;
    width: 80%;
    height: 200px;
    background-image: url("Images/Screenshot\ 2023-03-29\ at\ 8.51.25\ PM.png");
    background-position: center top;
} 

.contact-us-container {
    border-radius: 50px;
    width: 70%;
    margin: auto;
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: left;
    background-color:#393939;
    box-shadow: 1px 1px .5em;
}

.contact-us-form {
    display: flex;
    flex-direction: column;
}

#name, #phone-number, #email {
    width: 200px;
    height: 30px;
    border: transparent;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
    font-size:16px;
    
}

input:focus {
    outline: 2px solid burlywood;
}

#message {
    margin-top: 10px;
    height: 250px;
    border-radius: 5px;
}

#message:focus {
    outline: 2px solid burlywood;
}


form button {
    margin-top: 10px;
}

button {
    width: 80px;
    height: 30px;
    background-color: transparent; 
    border-radius: 10px;
    border: 1px solid burlywood;
    color: burlywood;
}

button:hover {
    background-color: burlywood;
    color: #303030
}

.map {
    margin-top: 15px; 
}

.map-img {
    border: 1px solid;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.addy-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px
}
